@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background-image: url("/public/990041.jpg");
    background-size: cover;
}

.Cont{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.nav{
    background-color:  rgba(255, 73, 73, 0.774);
    border-radius: 15px;
    padding: 35px;
    padding-left: 80px;
    padding-right: 80px;
    justify-self: center;
    align-self: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.822);
    padding: 15px;
    border-radius: 15px;
}

.btns {
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.btn {
    border-radius: 10px;
    width: 70px;
    padding: 5px;
    margin: 10px;
    background-color: #ff4040da;
}

.now {
    justify-content: center;
    font-size: xx-large;
}

.himg{
    background-image: url(/public/favicon.png);
    border-radius: 50%;
    margin: 50px;
    padding: 50px;
    width: 300px;
    justify-self: center;
    align-self: center;
}